head
  title=videoTitle
  style.
    body {
      margin: 0;
    }
    .fill {
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      min-width: 100%;
    }
body
  img.fill(src=posterImage)
