head
  title=videoTitle
  style.
    body {
      margin: 0;
    }
    .fill {
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      min-width: 100%;
    }

  script(
    async
    src='https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2942984671666354'
    crossorigin='anonymous'
  )
body
  img.fill(src=posterImage)
