head
  title Random porn
  script(
    async
    src='https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2942984671666354'
    crossorigin='anonymous'
  )
body
  h3=`${videoIndexCount} vídeos indexados`
  h3=`${requestsCount} acessos`
  ul
    li: a(href='/image') Gerar imagem aleatória
    li: a(href='/video') Gerar vídeo aleatório
