head
  title Random porn
body
  h3=`${videoIndexCount} vídeos indexados`
  h3=`${requestsCount} acessos`
  ul
    li: a(href='/image') Gerar imagem aleatória
    li: a(href='/video') Gerar vídeo aleatório
